@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.carbody{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 600px;
  margin-left: 5px;
}
.carousel-container {
    position: relative;
    width: 100%;
    max-width: 630px;
    margin: auto;
    overflow: hidden;
    height: 100%;
}
  
.carousel {
    display: flex;
    transition: transform 0.5s ease;
}
  
.carousel-item {
    min-width: 100%;
    height: auto;
}
  
.carousel-item img {
    width: 100%;
    display: block;
}
  
  
  
.prev-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    left: 0;
}
  
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    right: 0;
}

.cbox1{
    height: 100%;
    width: 60%;
    background-color: #007BFF;
    color: white;
    margin-left: -10px;
    text-align: center;
    
}
.chead1{
  font-size: 50px;
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.totalt{
  height: 50%;
  display: flex;
  justify-content:center;
  align-items: flex-end;
}
.total{
  display: flex;
  height: 50%;
  justify-content: space-evenly;
  gap: 10px;
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.total1{
  text-align: left;
}
