.container {
    display: flex;
    flex-wrap: wrap;
    
}



@media (min-width: 768px) {
    .box {
        flex: 1 1 calc(50% - 2rem); /* Two columns on tablets */
    }
}

@media (min-width: 992px) {
    .box {
        flex: 1 1 calc(33.33% - 2rem); /* Three columns on desktops */
    }
}
